

.tabela {
height: 70px;
    background-color: #24b54b;
font-weight: bold;

}

 .tabela, th, td {
    padding: 10px;
    text-align: center;
} 

table {
    width: 600px;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd; 
font-size: large;
}


  
